.banner {
	background-color: #3579f5;
	padding: 12px 18px 15px 22px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 16px;
	color: #fff;
	max-width: 743px;

	&__counter {
		display: grid;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		--size: 60px;
		--stroke-width: 2px;

		svg {
			aspect-ratio: 1;
			width: var(--size);
			transform: rotate(-90deg);
			grid-column: 1;
			grid-row: 1;

			#progress {
				stroke-dashoffset: calc((100% - var(--value)) * pi);
				stroke-dasharray: calc((100% - var(--stroke-width)) * pi);
				stroke-width: var(--stroke-width);
				stroke: #fff;
			}

			#full {
				stroke: #ffffff88;
			}

			circle {
				r: calc(50% - var(--stroke-width));
			}
		}

		&__number {
			grid-column: 1;
			grid-row: 1;
			text-align: center;
			@extend .font-size-xl;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
	}

	&__button {
		padding: 10px 32px;
		border-radius: 6px;
		background-color: #fff;
		color: #4777ED;
		border: none;
		@extend .font-size-s;
		font-weight: 400;
		margin-left: auto;
	}

	&__label {
		padding: 0 13px;
		border-radius: 666px;
		@extend .font-size-xs;
		background-color: #2364DB;
	}

	&__main {
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
	}

	&__caption {
		@extend .font-size-xs;
	}
}