 @font-face {
 	font-family: "Inter";
 	src: url(/src/assets/static/font/Inter.woff2) format("woff2-variations");
 	font-display: swap;
 	font-weight: 125 950;
 	font-style: normal;
 }

 body,
 input {
 	font-family: Inter, sans-serif;
 }

 a {
 	color: inherit;
 }

 .font-size-xl {
 	font-size: 20px;
 	line-height: 30px;
 }

 .font-size-l {
 	font-size: 18px;
 	line-height: 28px;
 }

 .font-size-m {
 	font-size: 16px;
 	line-height: 24px;
 }

 .font-size-s {
 	font-size: 14px;
 	line-height: 20px;
 }

 .font-size-xs {
 	font-size: 12px;
 	line-height: 18px;
 }