// @font-face {
// 	font-family: "";
// 	src: url(/src/assets/static/font/);
// 	font-weight: 500;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: "";
// 	src: url(/src/assets/static/font/) format("woff2-variations");
// 	font-display: swap;
// 	font-weight: 125 950;
// 	font-style: normal;
// }
body,
input {
	@media screen and (max-width: $mobile) {}
}

a {
	color: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
	appearance: textfield;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}