@import "icons";

.icon {
	display: inline-flex;
	border: none;
	user-select: none;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	flex-shrink: 0;
	transition-duration: var(--default-duration);
	transition-timing-function: ease;
	transition-property: opacity, background-color;
	width: var(--icon-width, var(--size, 24px));
	height: var(--icon-height, var(--size, 24px));
	background-color: var(--color, currentColor);
}