@import "breakpoint";
@import "breadcrumbs";
@import "container";
@import "color";
@import "font";
@import "mixins";
@import "header";
@import "button";
@import "custom-checkbox";
@import "custom-radio";
@import "footer";
@import "general";
@import "icon";
@import "splide";
@import "dropzone";
@import "custom-input";
@import "article";
@import "dialog";
@import "accordion";
@import "counter";

:root {
	--size: 500px;
	--value: 20%;
	--stroke-width: 10px;
	stroke-dashoffset: calc((100% - var(--value)) * pi);
	stroke-dasharray: calc(100% * pi);
	stroke-width: var(--stroke-width);

	svg {
		aspect-ratio: 1;
		width: var(--size);
		transform: rotate(-90deg);
	}

	circle {
		r: calc(50% - var(--stroke-width));
	}
}