<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<svg>
				<circle cx="50%" cy="50%" stroke="#76e5b1" stroke-linecap="round" fill="transparent"></circle>
			</svg>
		</main>
		<%- include('/footer') %>
	</body>

</html>